:root {
  --webkit-gradient: linear-gradient(to bottom right, #fdc830, #f37335);
  --primary-color: #f29f33;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #444;
  background-color: #f3f3f3;
  height: 100vh;
  padding: 2rem;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 25%;
}

input {
  outline: none;
}

@media screen and (max-width: 992px) {
  nav {
    padding: 0px 5%;
  }
}

/* UI */

.hidden {
  display: none;
  transition: all 1s;
}

/*** Typography ***/

h1 {
  font-size: 40px;
}

.welcome {
  font-size: 4rem;
  font-weight: bolder;
  color: var(--primary-color);
  background: var(--webkit-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  font-size: 12px;
}

nav p {
  margin: 20px auto 0px;
  font-size: 16px;
  text-align: center;
}

/* MAIN */
.app {
  position: relative;
  max-width: 100rem;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 4fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;

  /* NOTE This creates the fade in/out anumation */
  opacity: 100;
  transition: all 1s;
}

/* ADD PLAYERS */

.add__players-container {
  /* grid-row: 2 / span 3; */
  background-color: #fff;
  border-radius: 1rem;
  overflow: scroll;
  padding: 15px;
  text-align: center;
}

.player__name-input {
  border: 2px solid var(--primary-color);
  padding: 0.5rem 0.5rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  /* width: 8rem; */
  border-radius: 10rem;
  margin-right: 1rem;
  margin-left: auto;
  transition: all 0.3s;
  color: var(--primary-color);
  outline: none;
}

.lets__play-btn {
  width: 80%;
  margin-top: 20px;
}

.add_resetplayers-container {
  text-align: center;
}

@media screen and (max-width: 375px) {
  .player__name-input {
    margin-bottom: 10px;
    width: 75%;
  }

  .form__btn--add-player,
  .lets__play-btn,
  .player__name-input {
    width: 75%;
  }
}

/* PLAYERS CONTAINER*/
.players-container {
  grid-row: 2 / span 3;
  background-color: #fff;
  border-radius: 1rem;
  overflow: scroll;
}

.player__row {
  padding: 2.25rem 2rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.player__row:nth-child(even) {
  --webkit-gradient: linear-gradient(to bottom right, #00b4db, #0083b0);
  --primary-color: #429ec8;
}

.player__row:nth-child(odd) {
  --webkit-gradient: linear-gradient(to bottom right, #f953c6, #b91d73);
  --primary-color: #da489d;
}

/* .player__row:nth-child(4n + 4) {

}

.player__row:nth-child(5n + 5) {
  --webkit-gradient: linear-gradient(to bottom right, #ed213a, #93291e);
  --primary-color: #c3332d;
} */

.player__name-container {
  min-width: 33%;
}

.player__number-label {
  text-align: center;
}

.player__name {
  font-size: 1.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: 0.1rem 1rem;
  border-radius: 10rem;
  /* margin-right: 2rem; */
  background-image: var(--webkit-gradient);
  /* background-color: pink; */
  min-width: 17px;
  text-align: center;
  margin-bottom: 10px;
}

/* Scores */
.flex-row {
  display: flex;
  width: 100%;
}

.score__input-container {
  position: relative;
  margin: auto;
  max-width: 20%;
  display: flex;
}

/* Scores */

.score__input {
  border: 2px solid var(--primary-color);
  padding: 0.5rem 0.5rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  width: 8rem;
  border-radius: 10rem;
  margin-right: 1rem;
  margin-left: auto;
  color: inherit;
  transition: all 0.3s;
  text-transform: uppercase;
  color: #446824;
}

.total__score-container {
  min-width: 20%;
  text-align: center;
}

@media screen and (max-width: 730px) {
  .player__row {
    flex-direction: column;
    text-align: center;
  }

  .player__name-container {
    width: 100%;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin: 20px auto 0px;
  }

  .player__name-input {
    margin: 0px 0px 10px 0px;
    outline: none;
  }

  .score__input-container {
    position: relative;
    margin: 0px;
    max-width: 40%;
    display: flex;
  }

  .total__score-container {
    width: auto;
  }

  .total__score-container {
    max-width: none;
  }
}

/* Formatting colours */

/****/

.movements__date {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
  margin: auto;
}

.score-label {
  text-align: center;
}
.player__score {
  font-size: 2rem;
  margin-left: auto;
  line-height: 17px;
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: #333;
  text-align: center;
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
}

.form__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid var(--primary-color);
}

.form__label {
  font-size: 1.3rem;
  text-align: center;
}

.form__btn {
  border: 2px solid var(--primary-color);
  border-radius: 100px;
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
  background-image: var(--webkit-gradient);
  font-family: 'Poppins', sans-serif;
  /* text-transform: uppercase; */
}

.form__btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.logout-timer {
  padding: 0 0.3rem;
  margin-top: 1.9rem;
  text-align: right;
  font-size: 1.25rem;
}

.timer {
  font-weight: 600;
}
